<p>
<img class="img-rounded img-polaroid image-left" src="/images/Jacinda-Zhong.jpg" height="200px">
  Hello world! My name is Jacinda and I love to program! I am from Rockville, Maryland, and have one lovely younger sister. I currently work at a small arts nonprofit as the Development and Communications Associate, doing a range of nonprofit-y things from printing and stuffing 1500 envelopes with donation cards, writing copy, pulling a list, and coding an email, to configuring our CRM system to pull a report of all new donors in the past fiscal year.</p>


<p> I currently live in Cambridge, where bums and MIT/Harvard grad students alike walk the streets of Mass Ave. I love living in Boston where there is so much variety in things to do, people of all backgrounds, restaurants, and where it's small enough that I randomly bump into friends on a regular basis. (whether I want to or not)</p>

<p> I really love dark chocolate. I have to eat some every day, and I eat ice cream almost every day. It's an addiction! Sugar is one of my BFFs. During my baking phase, I had so much fun baking delicious things with chocolate, sugar, and butter. My favorite (but very time consuming) pastry was vegan cinnamon rolls. Banana chocolate chip muffins came in second!</p>

<p> I used to be watch So You Think You Can Dance religiously, and was hooked because I loved the high level dancers that came to audition for the show. It continues to baffle my mind how many talented people there are out there for these reality TV shows. And yet only a few make it on the show! Some of my new favorite TV shows include Game of Thrones, New Girl, and Downton Abbey.

<p> Thanks for stopping by! PS. my favorite color is purple.</p>

</body>
</html>
