<hr>
<h1>Projects Page</h1>
<ul>
    <li><a href="http://yaronschoen.com/work/" target="_blank">http://yaronschoen.com/work/</a></li>
    <li></li>
</ul>


<h1>Landing Page</h1>
<ul>
    <li><a href="http://dorigo.co/" target="_blank">http://dorigo.co/</a></li>
    <li><a href="http://www.chrisspooner.com/" target="_blank">http://www.chrisspooner.com/</a></li>
</ul>


<h1>General Personal Website Inspiration</h1>
<ul>
    <li><a href="http://cssmatter.com/blog/34-fresh-portfolio-websites-inspiration/" target="_blank">http://cssmatter.com/blog/34-fresh-portfolio-websites-inspiration/</a></li>
    <li><a href="http://www.awwwards.com/websites/portfolio/" target="_blank">Best portfolio websites</a></li>
    <li><a href="http://onepagelove.com/gallery/personal" target="_blank">One page personal websites</a></li>
    <li><a href="http://vandelaydesign.com/personal-websites/" target="_blank">http://vandelaydesign.com/personal-websites/</a></li>
    <li><a href="http://jenifferdake.net/about/" target="_blank">http://jenifferdake.net/about/</a>
</ul>
