<!DOCTYPE html>
<html lang="en">

  <head>
    <title><%= @title %></title>
    <link rel="stylesheet" href="/bootstrap.css">

  </head>

  <body>

    <h1><%= @title %></h1>

    <p>
    <img src="welcome-mustache.jpg" title="Welcome to Jacinda's website!" alt="Welcome to Jacinda's website!">
    </p>

    <h2>
      <a href="about.html" title="About Jacinda!" class="no-style">
      Please enter!
      </a>
    </h2>


    <br><br><br>
<!--     <center>
    <iframe src="includes/footer.html" frameborder="0" width="380px" height="100px">
    </iframe>
    </center> -->


  </body>

</html>
