<!DOCTYPE html>
<html lang="en">

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= @title %></title>

    <link rel="stylesheet" href="/css/bootstrap.css">
<!--     <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css"> -->
    <link rel="stylesheet" href="/css/styles.css">

    <script type="text/javascript" src="/js/jquery-ui-1.10.4.min.js">  </script>
    <script type="text/javascript" src="/js/jquery-ui-1.10.4.js">  </script>
    <script type="text/javascript" src="/js/jquery-1.10.2.js">  </script>
    <script type="text/javascript" src="/js/jquery.mobile-1.4.2.js">  </script>
    <script type="text/javascript" src="/js/jquery.mobile-1.4.2.min.js">  </script>
  </head>

  <body>

    <h1><%= @title %></h1>

<div class="navbar">
  <div class="navbar-inner">
    <ul class="nav pull-right">
      <li><a href="/about" title="About the jazz">About Me</a></li>
      <li><a href="/coding" title="Why not?">Why Code</a></li>
      <li><a href="/funsies" title="I love me some Funsies">For Funsies</a></li>
      <li><a href="/blog" title="Documenting my Coding Experience">Blog</a></li>
      <li><a href="/dashboard" title="Jacinda's Dashboard">Dashboard</a></li>
      <li><a href="/contact" title="Contact Me!">Contact</a></li>
    </ul>



  </div>
</div>

<section>
  <%= yield %>
</section>

<div class="modal-footer">
Jacinda Zhong 2014 |
  <i class="glyphicon glyphicon-envelope"></span>Email Jacinda | <a href="www.linkedin.com/in/jacindazhong/" target="_blank" src="www.linkedin.com/in/jacindazhong/">linkedin.com/in/jacindazhong</a>
</div>
