<div class="container">
  <div class="row jumbotron">
    <div class="col-md-4">
      <a href="http://bechdeltest.herokuapp.com/" target="_blank">
        <img class="img-rounded img-polaroid jacinda-jumbotron-image" src="/images/web-apps/bechdel-test-screenshot.png">
      </a>
    </div>
    <div class="col-md-8">
      <h1 class="no-margin">The Bechdel Test</h1>
      <p>A Rails app that lists movies from the Rotten Tomatoes API, users, and from the Cannes Film
        Festival website. Pulls ratings from BechdelTest.com, and also allows users to vote if
        a movie passes the Bechdel Test. Uses Devise for user authentication, Nokogiri and rake tasks
        to scrap 2 websites, and Refills.</p>
      <h2>Technology</h2>
      <ul>
        <li>Ruby on Rails</li>
        <li>Nokogiri, XML, JSON</li>
        <li>Database: PostgreSQL</li>
        <li>Testing: Rspec, FactoryGirl, Shoulda Matchers
        <li>Other Gems: ChartKick, Devise, Simple Form</li>
        <li>CSS: Bourbon, Bitters, Neat, and Refills</li>
      </ul>
    </div>
  </div>
</div>


<div class="container">
  <div class="row jumbotron">
    <div class="col-md-4">
      <a href="http://launchlightning.herokuapp.com/" target="_blank">
        <img class="img-rounded img-polaroid jacinda-jumbotron-image" src="/images/web-apps/launch-lightning-screenshot.png">
      </a>
    </div>
    <div class="col-md-8">
      <h1 class="no-margin">Lightning Talks</h1>
      <p>A Lightning Talk sign-up Sinatra app that allows users to sign in
    via Github using OmniAuth. Uses jQuery’s accordion feature to display talks,
    a PostgreSQL database to save talks, and Bootstrap.</p>
      <h2>Technology</h2>
      <ul>
        <li>Sinatra</li>
        <li>OmniAuth</li>
        <li>jQuery</li>
        <li>Database: PostgreSQL</li>
        <li>CSS: Bootstrap</li>
      </ul>
    </div>
  </div>
</div>


<div class="container">
  <div class="row jumbotron">
    <div class="col-md-4">
      <a href="http://jacinda-weather.herokuapp.com/" target="_blank">
        <img class="img-rounded img-polaroid jacinda-jumbotron-image" src="/images/web-apps/weather-app.png">
      </a>
    </div>
    <div class="col-md-8">
      <h1 class="no-margin">Check the Weather!</h1>
      <p>My first web application - a Sinatra app that pulls in weather
        information from the Open Weather Maps API. Parses JSON and XML,
        using Nokogiri and Xpath, and is deployed on Heroku.</p>
      <h2>Technology</h2>
      <ul>
        <li>Sinatra</li>
        <li>Nokogiri and XML</li>
      </ul>
    </div>
  </div>
</div>
