/*************************NAVBAR AND BODY STYLES****************************/

body:before {
    content: "";
    position: fixed;
    background: purple;
    height: 10px;
}
body:before {
    top: 0;
}
/*body:after {
    bottom: 0;
}*/
nav.navbar {
  border-top: thick solid purple;
}

section#page-inner-div {
  margin: 2% 10%;
}

/*************************OTHER****************************/

.float-left { float:left; }
.float-right { float:right; }

.padding { padding: 5px;}


.image-left {
  float:left;
  margin-bottom: 20px;
  margin-right: 20px;
}

.logo_img_left {
  float:left;
  padding: 10px;
  padding-top: 0px;
}

.image-right {
  float:right;
  margin-bottom: 20px;
  margin-left: 20px;
}

.dashboard {
  width: 75px;
  text-align: center;
}

.news_dashboard {
  width: 300px;
}


.temperature {
  font-size: 16px;
}

.header_width { width: 150px; }

.dashboard_underline { text-decoration: underline; }

.table_styles {
  padding: 15px;
}

td {
  padding: 5px 15px;
}


h1.no-margin { margin-top: 0px; }
